<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">
<link rel="stylesheet" href="home.component.css">
<h2>Services Available</h2>
<div class="container">
    <div class="row">
    <div class="col-md-4">
      <div class="card card-1">
        <h3>Product Management</h3>
        <p>Features:</p>
        <li>Create Product</li>
        <li>Modify Product</li>
        <li>Delete Product</li>
        <li>Details of Product</li>
        <li>View All Products</li>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-2">
        <h3>Service Management</h3>
        <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
          of mobile UI components, ready to go.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-3">
        <h3>User Management</h3>
        <p>Learn how to easily customize and modify your app’s design to fit your
          brand across all mobile platform styles.</p>
      </div>
    </div>
  </div>
</div>
